body {
    background-color: powderblue;
    background-image: url("g.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    color: darkblue;
    text-decoration: none;
    border: darkblue;
}
p{
    color: red;
    font-size: 100%;
    font-family: verdana;
}
li{
    color: azure;
}