body {
    background-color: powderblue;
    background-image: url("g.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
img {
    border-radius: 50%;
    height: 10%;
    width: 8%;
    margin-left: 60px;
     float: left;
    


}